<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include tag-manager.html %}

  {% include header.html %}

  <section id="banner" class="major">
    <div class="inner">
      <header class="major">
        <h1>{{ page.landing-title }}</h1>
      </header>

      <div class="content">
        <p style="text-transform: uppercase;">{{ site.description }}</p>

        <ul class="actions">
          <li><a href="#one" class="button next scrolly">Learn More</a></li>
        </ul>
      </div>
    </div>
  </section>

  <div id="main">

    {% include tiles.html %}

    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>The Road to Recovery</h2>
            </header>

            <p>{{ content }}</p>
            
            <ul class="actions">
                <li><a href="#contact" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </section>
  </div>

  {% include footer.html %}

</body>
</html>
